django-cors-headers==2.3.0
django==1.11
djangorestframework==3.8.2
django-adaptors==0.2.5
lxml==4.2.3
django-datetime-widget==0.9.3
django-bootstrap3==10.0.1 
django-floppyforms==1.7.0 
django-crispy-forms==1.7.2
easy-thumbnails==2.5
unidecode==1.0.22
six==1.11.0
xhtml2pdf==0.2.2
html5lib==1.0.1
django-role-permissions==2.2.0