
{% extends "base_site.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %} Cambiar Contraseña {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">

      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Cambiar Contraseña  </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <form class="form-horizontal form-label-left"  enctype="multipart/form-data" action="" method="POST" id="form" novalidate="novalidate">
                  {% csrf_token %}
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for={{form.old_password.name}}>{{form.old_password.label}} <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          {{form.old_password}}
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for={{form.new_password1.name}}>{{form.new_password1.label}}<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.new_password1}}
                        
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for={{form.new_password2.name}}>{{form.new_password2.label}}<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.new_password2}}
                        <span id='message2'></span>
                      </div>
                    </div>
                    
                    <div align="right">
                        <a class="btn btn-primary" type="reset" href="{% url 'inicio' %}" >Cancel</a>
                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="{% static 'static/vendors/validator/validator.js' %}"></script>
  
  
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate();
</script>
  
<script>

//$('#id_new_password2').on('keyup', function () {
//    if ($(this).val() != $('#id_new_password1').val()) {
//        $('#message2').html('La').css('color', 'red');
//    } else $('#message2').html('');
//});



//$('#id_new_password1').on('keyup', function () {
//    var pswd = $(this).val();
//    if (pswd.length < 7) {
//        $('#message1').html('not matching').css('color', 'red');
//    }else{$('#message1').html('')}
//});
</script>
<script>
/*
$(function()
{
  
  alert('s');
    $("#form").validate(
      {
        rules: 
        {
          new_password1: 
          {
            required: true,
            maxlength: 4
          },
        }
      });	
});*/
</script>
{% endblock javascripts %}
