{% extends "base_site.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
    <script >
 function resizeIframe(obj) {
   obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  obj.style.width="100%";
  }
  
 </script>    
  
{% endblock head %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="clearfix"></div>
      <div class="row">
          <div class="x_panel">
            {% csrf_token %}
            <div class="x_content">
                <div class="embed-container">
                  
                  <iframe src="{% static 'cotizador_frontend/index.html' %}"  frameborder="0"  onload="resizeIframe(this);">
                    
                  </iframe>
                </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  
{% endblock content %}




