<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="ISO-8859-1">
     <meta charset="UTF-8">
    <title>Sales Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
            table-layout: fixed;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #0dc09c;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
        table{counter-reset:section;}
        .count:before
        {
        counter-increment:section;
        content:counter(section);
        }
        p{
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Sales Report - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="list-group">
            <p>Name: </p>
        </div>
        
        {%if conductores %}
            <p>Lista de Conductores</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for conductor in conductores %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ conductor.descripcion }}</td>
                        <td width="70px">{{ conductor.cantidad }}</td>
                        <td width="70px">{{ conductor.unidad }}</td>
                        <td width="100px">{{ conductor.valor_unitario }}</td>
                        <td>{{ conductor.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica conductores</p>
        {% endif %}
        
        {%if canalizaciones %}
            <p>Lista de canalizaciones</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for canalizacion in canalizaciones %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ canalizacion.descripcion }}</td>
                        <td width="70px">{{ canalizacion.cantidad }}</td>
                        <td width="70px">{{ canalizacion.unidad }}</td>
                        <td width="100px">{{ canalizacion.valor_unitario }}</td>
                        <td width="100px">{{ canalizacion.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>   
        {% else %}
            <p>No aplica canalizaciones</p>
        {% endif %}
        
        
        {%if conductoresDC %}
            <p>Lista de conductores DC</p>
            <table class="table">
            <thead>
            <tr>
                <th width="50px">Item</th>
                <th width="300px">Descripcion</th>
                <th width="70px">Cantidad</th>
                <th width="70px" >Unidad</th>
                <th width="100px">Valor Unitario</th>
                <th width="100px">Valor Total</th>
            </tr>
            </thead>
            <tbody>
            {% for conductorDC in conductoresDC %}
                <tr>
                    <td width="50px" class="count"></td>
                    <td width="300px">{{ conductorDC.descripcion }}</td>
                    <td width="70px">{{ conductorDC.cantidad }}</td>
                    <td width="70px">{{ conductorDC.unidad }}</td>
                    <td width="100px">{{ conductorDC.valor_unitario }}</td>
                    <td width="100px">{{ conductorDC.valor_total}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table> 
        {% else %}
            <p>No aplica conductores DC</p>
        {% endif %}
        
        {%if conductoresAC %}  
            <p>Lista de conductores AC</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for conductorAC in conductoresAC %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ conductorAC.descripcion }}</td>
                        <td width="70px">{{ conductorAC.cantidad }}</td>
                        <td width="70px">{{ conductorAC.unidad }}</td>
                        <td width="100px">{{ conductorAC.valor_unitario }}</td>
                        <td width="100px">{{ conductorAC.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica conductores AC</p>
        {% endif %}
        
        {%if itemsDpsDC %}
            <p>Lista de items Dps DC</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for DpsDC in itemsDpsDC %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ DpsDC.descripcion }}</td>
                        <td width="70px">{{ DpsDC.cantidad }}</td>
                        <td width="70px">{{ DpsDC.unidad }}</td>
                        <td width="100px">{{ DpsDC.valor_unitario }}</td>
                        <td width="100px">{{ DpsDC.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica Dps DC</p>
        {% endif %}
        
        {%if itemInterruptorDC %}
            <p>Lista de items Interruptor DC</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for interruptorDC in itemInterruptorDC %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ interruptorDC.descripcion }}</td>
                        <td width="70px">{{ interruptorDC.cantidad }}</td>
                        <td width="70px">{{ interruptorDC.unidad }}</td>
                        <td width="100px">{{ interruptorDC.valor_unitario }}</td>
                        <td width="100px">{{ interruptorDC.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica Interruptores DC</p>
        {% endif %}
        
        {%if itemsDpsACSalida %}
            <p>Lista de items Dps AC Salida</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for dpsACSalida in itemsDpsACSalida %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ dpsACSalida.descripcion }}</td>
                        <td width="50px">{{ dpsACSalida.cantidad }}</td>
                        <td width="70px">{{ dpsACSalida.unidad }}</td>
                        <td width="70px">{{ dpsACSalida.valor_unitario }}</td>
                        <td width="100px">{{ dpsACSalida.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica Dps AC Salida</p>
        {% endif %}
        
        {%if itemDpsACInyeccion %}
            <p>Item Dps AC Inyeccion</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ itemDpsACInyeccion.descripcion }}</td>
                        <td width="70px">{{ itemDpsACInyeccion.cantidad }}</td>
                        <td width="70px">{{ itemDpsACInyeccion.unidad }}</td>
                        <td width="100px">{{ itemDpsACInyeccion.valor_unitario }}</td>
                        <td width="100px">{{ itemDpsACInyeccion.valor_total}}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No aplica Dps AC Inyeccion</p>
        {% endif %}
        
        {%if fusibles %}
            <p>Lista de fusibles</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for fusible in fusibles %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ fusible.descripcion }}</td>
                        <td width="70px">{{ fusible.cantidad }}</td>
                        <td width="70px">{{ fusible.unidad }}</td>
                        <td width="100px">{{ fusible.valor_unitario }}</td>
                        <td width="100px">{{ fusible.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica fusibles</p>
        {% endif %}
        
        {%if interruptoresAutoSalidaInversor %}
            <p>Lista de interruptores Automaticos de Salida Inversor</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for interruptorAutoSalidaInversor in interruptoresAutoSalidaInversor %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ interruptorAutoSalidaInversor.descripcion }}</td>
                        <td width="70px">{{ interruptorAutoSalidaInversor.cantidad }}</td>
                        <td width="70px">{{ interruptorAutoSalidaInversor.unidad }}</td>
                        <td width="100px">{{ interruptorAutoSalidaInversor.valor_unitario }}</td>
                        <td width="100px">{{ interruptorAutoSalidaInversor.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica interruptores Automaticos para Salida de Inversor</p>
        {% endif %}
        
        {%if interruptorAutoCombinador %}
            <p>Lista de interruptor Automaticos Combinador </p>
            <table class="table">
                
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ interruptorAutoCombinador.descripcion }}</td>
                        <td width="70px">{{ interruptorAutoCombinador.cantidad }}</td>
                        <td width="70px">{{ interruptorAutoCombinador.unidad }}</td>
                        <td width="100px">{{ interruptorAutoCombinador.valor_unitario }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No aplica interruptor Automaticos Combinado</p>
        {% endif %}
        
        {%if CombinadorasFinal %}
            <p>Lista de cajas combinadoras </p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for caja in CombinadorasFinal %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ caja.descripcion }}</td>
                        <td width="70px">{{ caja.cantidad }}</td>
                        <td width="70px">{{ caja.unidad }}</td>
                        <td width="100px">{{ caja.valor_unitario }}</td>
                        <td width="100px">{{ caja.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica armarios</p>
        {% endif %}
        
        {%if paneles %}
            <p>Lista de paneles solares </p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for panel in paneles %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{ panel.descripcion }}</td>
                        <td width="70px">{{ panel.cantidad }}</td>
                        <td width="70px">{{ panel.unidad }}</td>
                        <td width="100px">{{ panel.valor_unitario }}</td>
                        <td width="100px">{{ panel.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica paneles solares</p>
        {% endif %}
        
        
        {%if inversores %}
            <p>Lista de inversores </p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50px">Item</th>
                    <th width="300px">Descripcion</th>
                    <th width="70px">Cantidad</th>
                    <th width="70px" >Unidad</th>
                    <th width="100px">Valor Unitario</th>
                    <th width="100px">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for inversor in inversores %}
                    <tr>
                        <td width="50px" class="count"></td>
                        <td width="300px">{{inversor.descripcion }}</td>
                        <td width="70px">{{ inversor.cantidad }}</td>
                        <td width="70px">{{ inversor.unidad }}</td>
                        <td width="100px">{{ inversor.valor_unitario }}</td>
                        <td width="100px">{{ inversor.valor_total}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No aplica inversores</p>
        {% endif %}
        
    </div>
</div>
</body>
</html>