{% extends "base_site.html" %}
{% load static %}


{% block body %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="clearfix"></div>
      <div class="row">
          <div class="x_panel">
            <div class="x_content">
                <div class="embed-container">
                  <embed src={{pdf}} type="application/pdf" width="100%" height="600px" />
                </div>
                <div class="ln_solid"></div>
                <form class="form-horizontal form-label-left"  enctype="multipart/form-data" action="" method="POST" id="form" novalidate>
                  {% csrf_token %}
                  <div class="item form-group">
                  <label class="control-label col-md-7 col-xs-12" for='emails'>Enviar cotización a:
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input class=" form-control col-md-7 col-xs-12" type="text" name="emails" required="required"  placeholder="Separar correos por ;"/>
                  </div>
                  </div>
                
                  <div class="form-group">
                    <div align="center">
                      <button class="btn btn-primary" type="reset" href="{% url 'inicio' %}" >Salir</button>
                      <button id="send" type="submit" class="btn btn-success">Enviar</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        
      </div>
    </div>
  </div>
{% endblock body %}  

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="{% static 'static/vendors/validator/validator.js' %}"></script>
{% endblock javascripts %}



