
{% load static %}
<style>
.texto  {
          width:200px;
          height:70px;
          }
.logo  {
          width:70px;
          height:60px;
          }
  @media screen and (max-width: 720px){
    .texto   {
      width:100px;
      height:50px;
      }
      .logo  {
          width:35px;
          height:40px;
          }
    }
  </style>


<div class="pull-right">
    <div align="right">
            <img  class="logo" src="{% static 'static/images/Logo.png' %}" >
       
            <img class="texto"  src="{% static 'static/images/Logo nombre.png' %}" >
    </div>
</div>
<div class="clearfix"></div>

