
{% load static %}
<style>
.texto{
    width: 170px;
            height: 90px;
}
.logo  {
    width: 80px;
    height: 80px;
          }
  @media screen and (max-width: 720px){
        .texto   {
            width: 170px;
            height: 90px;
          }
        .logo  {
          width:95px;
          height:95px;
          }
    }
  </style>


<div class="pull-right">
    <div align="right">
            <img  class="logo" src="{% static 'static/images/Logo.png' %}" >
       
            <img class="texto"  src="{% static 'static/images/Logo nombre.png' %}" >
    </div>
</div>
<div class="clearfix"></div>




sidebar #274f71

title #456f9273