<!DOCTYPE html>
{% load static %}
{% load permission_tags %}
<html>

<div class="left_col scroll-view">

<div class="navbar nav_title" style="border: 0;">
    <div class="site_title">
      
      <img src="/static/static/images/Logo.png" width="45" height="40" class="img-circle" >
      <span>Solar Energies</span>
     </div>
    
      
    
  </div>

  <div class="clearfix"></div>


  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        {%  if request.user.groups.all.0.name  == 'administrador' %}
          <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Home </a></li>
          <li><a href="{% url 'cotizadorFv:cotizacion' %}"><i class="fa fa-calculator"></i> Cotizador Paneles FV</span></a></li>
          <li><a href="{% url 'cargarArchivos:uploadFile' %}"><i class="fa fa-upload"></i> Subir Archivo </a></li>
          <li><a><i class="fa fa-users"></i> Usuarios<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'usuario:registrar_usuario' %}">Crear usuario</a></li>
              <li><a href="{% url 'usuario:listar_usuario' %}">Listar usuarios</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-gear"></i> Cuenta<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'usuario:edit_profile' %}">Configurar Cuenta</a></li>
              <li><a href="{% url 'usuario:change_password' %}">Cambiar Contraseña</a></li>
              
            </ul>
          </li>
        {% endif %}
        
        {%  if request.user.groups.all.0.name  == 'ingeniero' %}
          <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Home </a></li>
          <li><a href="{% url 'cotizadorFv:cotizacion' %}"><i class="fa fa-calculator"></i> Cotizador Paneles FV</span></a></li>
          <li><a href="{% url 'cargarArchivos:uploadFile' %}"><i class="fa fa-upload"></i> Subir Archivo </a></li>
          <li><a><i class="fa fa-gear"></i> Cuenta<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'usuario:edit_profile' %}">Configurar Cuenta</a></li>
              <li><a href="{% url 'usuario:change_password' %}">Cambiar Contraseña</a></li>
            </ul>
          </li>
        {% endif %}
        
        {%  if request.user.groups.all.0.name  == 'cotizador' %}
          <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Home </a></li>
          <li><a href="{% url 'cotizadorFv:cotizacion' %}"><i class="fa fa-calculator"></i> Cotizador Paneles FV</span></a></li>
          <li><a><i class="fa fa-gear"></i> Cuenta<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'usuario:edit_profile' %}">Configurar Cuenta</a></li>
              <li><a href="{% url 'usuario:change_password' %}">Cambiar Contraseña</a></li>
            </ul>
          </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
</html>