
{% extends "base_site.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Krajee plugin-upload file -->
    <link href="{% static 'plugin/css/fileinput.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'plugin/themes/explorer-fa/theme.css' %}" media="all" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Form Design <small>different form elements</small></h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
            
              <form  method="post" enctype="multipart/form-data"  class="form-horizontal " >
                {% csrf_token %}
                {{form.file}}
                <br> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="submit" id="upload" value="Enviar" class="btn btn-success">
                </div>
              </form>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Krajee plugin-upload file -->
  <script src="{% static 'plugin/js/plugins/sortable.js' %}" ></script>
  <script src="{% static 'plugin/js/fileinput.js' %}" ></script>
  <script src="{% static 'plugin/js/locales/es.js' %}" ></script>
  <script src="{% static 'plugin/themes/explorer-fa/theme.js' %}" ></script>
  <script src="{% static 'plugin/themes/fa/theme.js' %}" ></script>
  
  
{% endblock javascripts %}

{% block scripts %}
          
  <script>
   $('#id_file').fileinput({
      theme: 'fa',
      language: 'es', 
      uploadUrl: '#',
      allowedFileExtensions: ['csv',], 
      maxFilesNum: 1,  
      showUpload: false, 
      showUploadedThumbs: false,  
      dropZoneEnabled: false,
      fileActionSettings: {showUpload: false}, 
       
   });
 </script>
{% endblock scripts%}


